.inner-containers{
    display: inline-block;
    vertical-align: top;
}
.bhau-Ki-Photo{
    width: 300px;
    margin:50px;
}
.bhau-ki-wishes{
    font-size:x-large;
    font-weight: 500;
    margin: 150px 150px 0px 150px;
}
.bhau-ka-cake{
    font-size:x-large;
    font-weight: 500;
    margin: 50px 150px 150px;
}
.cake{
    font-size: xx-large;
    font-size: 50px;
}
