.bhau-Ki-Photo{
    width: 300px;
    margin:50px 38% 50px 40%;
}
.bhau-ki-wishes,
.bhau-ka-cake{
    font-size:x-large;
    font-weight: 500;
    margin-left: 43%;
}
.cake{
    font-size: xx-large;
    font-size: 50px;
}